<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>BoilingMinks Shop Shoppingcart</title>


    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>
<div class="jumbotron text-center">
    <form action="/">
        <button type="submit" class="btn btn-default btn-sm" style="float: right;">
            <img class="" src="http://placehold.it/100x100/000/fff" th:attr="src='/static/img/shop.png'"
                 alt=""/>
            Back to the shop
        </button>
    </form>
    <a href="/"><h1>BoilingMinks Shop</h1></a>

</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Product name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sum Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!--<div id="products" class="row mt-4">-->
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="item : ${cart_data}">
            <tr>
                <td><p class="card-title" th:text="${item.key.name}">Product name</p></td>
                <td><p class="lead" th:text="${item.key.getPrice()}">100 USD</p></td>
                <td><p class="lead" th:text="${item.value}">Quantity</p></td>
                <td th:with="result=${item.key.defaultPrice * item.value}">
                    <p th:text="${#numbers.formatDecimal(result, 0, 2)} + ' USD'"></p>
                </td>
                <td>
                    <form action="/shoppingcart">
                        <button class="btn btn-success" name="changeCart" type="submit" th:value="${item.key.getId()}">
                            +
                        </button>
                        <button class="btn btn-success" name="changeCart" type="submit"
                                th:with="subtractId = ${item.key.getId() * (-1)}" th:value="${subtractId}">
                            -
                        </button>
                    </form>
                </td>
            </tr>
        </div>
    <!--</div>-->
    </tbody>
    <tfoot>
    <tr>
        <td><h3>Total to pay: </h3></td>
        <td></td>
        <td></td>
        <td><h3 class="lead" th:text="${#numbers.formatDecimal(sum_of_prices, 0, 2)} + ' USD'">SUM</h3></td>
    </tr>
    </tfoot>
</table>
</div>

<div>
    <form action="payment-choice">
        <button type="submit">Continue to Checkout</button>
    </form>
</div>


<div th:replace="footer.html :: copy"></div>
</body>
</html>