<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <script src = static/js/index.js defer></script>
    <div class="jumbotron text-center">
        <div id="animate"></div>
        <form action="/shoppingcart" method="get">
            <button type="submit" class="btn btn-default btn-lg" style="float: right;">
                <img class="" src="http://placehold.it/100x100/000/fff" th:attr="src='/static/img/shopping_cart.png'"
                     alt="" onload="animation()" />
                <div th:if="${sum_of_items>0}">
                    <p class="cart">
                        <th:block th:text="${sum_of_items}">cart</th:block>
                        item(s) in cart
                    </p>
                </div>
                <div th:unless="${sum_of_items}">
                    <p><b class="emptycart">Cart is Empty</b></p>
                </div>
            </button>
        </form>

    </div>
</div>
</body>
</html>